.title h1{
    text-align: center;
    margin-bottom: 50px;
}
.return{
    display: flex;
    gap: 10px;
    margin-left: 100px;
}
.section-one img{
    width: 80vw;
    padding: 0 50px 50px 140px;
}
hr {
    border: none; 
    width: 80vw;
    height: 4px; 
    border-radius: 20px;
    background-color: rgb(222, 222, 222); 
    margin: 70px auto; 
  }
.time-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.problem{
    display: grid;
    align-items: center;
    justify-content: center;
}
.solution{
    display: grid;
    align-items: center;
    justify-content: center;
}
.solution-one{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.solution img{
    width: 300px;
}
.solution-two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.solution-two img{
    width: 500px;
}
.solution-three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.research{
    display: grid;
    align-items: center;
    justify-content: center;
}
.competitions{
    display: grid;
    align-items: center;
    justify-content: center;
}
.competion-logo img{
    width: 100px;
    margin-top: 20px;
    margin: 20px;
}
.competion-logo{
    background-color: rgb(210, 210, 210);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.interview{
    display: grid;
    align-items: center;
    justify-content: center;
}
.questions p{
    margin-top: 20px;
}
.interview-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.interview-image img{
    margin-top: 50px;
    width: 50vw;
}
.insights{
    display: grid;
    align-items: center;
    justify-content: center;
}
.insight-one{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.insight-two{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.insight-three{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.setbacks {
    display: grid;
    align-items: center;
    justify-content: center;
}
.iteration{
    display: grid;
    align-items: center;
    justify-content: center;
}
.iteration img{
    width: 70vw;
}
.changes img{
 width: 500px;
 margin-top: 50px;
}
.changes-one{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.changes-two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.change-three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.final-result{
    display: grid;
    align-items: center;
    justify-content: center;
}
.result-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.result-images img{
    width: 200px;
    margin-top: 50px;
}
.lessons{
    display: grid;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .return {
      margin-left: 10px;
    }

    .section-one img {
      width: 100%; 
      padding: 0 10px 10px 10px; 
    }

    hr {
      width: 100%; 
    }

    .time-line {
      flex-direction: column; 
      text-align: center; 
    }

    .title h1 {
      margin-bottom: 20px;
    }

    .solution img {
      width: 100%; 
    }

    .solution-two img {
      width: 100%; 
    }

    .interview-image img {
      width: 100%; 
    }

    .iteration img {
      width: 100%; 
    }

    .changes img {
      width: 100%; 
      margin-top: 20px;
    }

    .result-images img {
      width: 100%; 
      margin-top: 20px;
    }

    .scroll-to-top-button {
       position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .scroll-to-top-button:hover {
      background-color: #03263d;
    }
  }
