  /* @media (max-width: 768px) {
    main {
        flex-direction: column;
    }
  } */

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .intro {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff
  }

  .hello {
    height: 50px;
    font-size: 40px;
    font-weight: bold;
  }

  .name {
    height: 90px;
    font-size: 75px;
    font-weight: bold;
  }

  .contents-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .content-section {
    display: flex;
    flex-direction: column;
  }

  .images {
    width: 380px;
    height: 380px;
    margin: 10px;
  }

  